.games {
    margin: auto;
    padding: 2rem;
    width: 75%;
    border: 1px solid lightgray;
}

.next {
    min-width: 10rem;
    max-width: 20rem;
    padding: 5px 10px;
    border: 1px dotted grey;
    border-radius: 24px;
    background-color: rgb(198, 217, 223);
    font-style: italic;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.link {
    color: black;
}