.App {
  text-align: center;
  margin: 2rem;
  /* font-family: 'Mynerve', cursive; */
  font-family: 'Macondo', cursive;
  font-size: 1.5rem;
}

.home-image {
  display: flex;
  justify-content: space-around;
}

.home-text {
  width: 60%;
  margin: auto;
}